In [12]:
import numpy as np
import pandas as pd
from io import StringIO
import warnings
warnings.filterwarnings('ignore')

## read data sets & basic preparations

In [3]:
df_x1 = pd.read_csv('C:/Users/김서윤/Documents/2020 2학기 강의/응용머신러닝(주영준)/Inclass competition/dsc3011/X_train.csv')

In [4]:
df_y1 = pd.read_csv('C:/Users/김서윤/Documents/2020 2학기 강의/응용머신러닝(주영준)/Inclass competition/dsc3011/Y_train.csv')

In [46]:
#train set와 test set이 따로 주어져서 partitioning도 불필요!
df_xtest = pd.read_csv('C:/Users/김서윤/Documents/2020 2학기 강의/응용머신러닝(주영준)/Inclass competition/dsc3011/x_test.csv')

In [47]:
df_x1.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,1,0.708333,1,3,0.481132,0.244292,1,0,0.543860,0,2.3,0,0.0,0.333333
1,2,0.166667,1,2,0.339623,0.283105,0,1,0.868421,0,3.5,0,0.0,0.666667
2,3,0.250000,0,1,0.339623,0.178082,0,0,0.736842,0,1.4,2,0.0,0.666667
3,4,0.562500,1,1,0.245283,0.251142,0,1,0.789474,0,0.8,2,0.0,0.666667
4,5,0.583333,0,0,0.245283,0.520548,0,1,0.657895,1,0.6,2,0.0,0.666667

In [48]:
df_y1.head()

   id  target
0   1       1
1   2       1
2   3       1
3   4       1
4   5       1

## create data set

In [49]:
df = pd.merge(df_x1, df_y1, on="id")

In [50]:
df.head()
#다행히 범주형 변수가 있지만, 이미 라밸링 되어 전부 numetic 형태!
#따라서 클라스 라벨링 없이 스케일링만 진행해주면 될 듯

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,1,0.708333,1,3,0.481132,0.244292,1,0,0.543860,0,2.3,0,0.0,0.333333,1
1,2,0.166667,1,2,0.339623,0.283105,0,1,0.868421,0,3.5,0,0.0,0.666667,1
2,3,0.250000,0,1,0.339623,0.178082,0,0,0.736842,0,1.4,2,0.0,0.666667,1
3,4,0.562500,1,1,0.245283,0.251142,0,1,0.789474,0,0.8,2,0.0,0.666667,1
4,5,0.583333,0,0,0.245283,0.520548,0,1,0.657895,1,0.6,2,0.0,0.666667,1

## scaling
### Min-max scaling

In [51]:
#컬럼별 결측치 개수 확인
df.isnull().sum(axis=0)
#다행히도 결측치가 없는 데이터셋!

id          0
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [52]:
from sklearn.preprocessing import MinMaxScaler, minmax_scale

In [53]:
mms = MinMaxScaler()

In [54]:
df1 = df_x1

In [55]:
df1[['age','trestbps','chol','thalach','ca','thal']] = mms.fit_transform(df1[['age','trestbps','chol','thalach','ca','thal']])

In [57]:
df2 = df_xtest

In [58]:
df2[['age','trestbps','chol','thalach','ca','thal']] = mms.fit_transform(df2[['age','trestbps','chol','thalach','ca','thal']])

In [59]:
df3 = df_y1['target']

In [60]:
df1.head()
#스케일링이 잘 됐음을 확인

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,1,0.708333,1,3,0.481132,0.244292,1,0,0.543860,0,2.3,0,0.0,0.333333
1,2,0.166667,1,2,0.339623,0.283105,0,1,0.868421,0,3.5,0,0.0,0.666667
2,3,0.250000,0,1,0.339623,0.178082,0,0,0.736842,0,1.4,2,0.0,0.666667
3,4,0.562500,1,1,0.245283,0.251142,0,1,0.789474,0,0.8,2,0.0,0.666667
4,5,0.583333,0,0,0.245283,0.520548,0,1,0.657895,1,0.6,2,0.0,0.666667

## model training & prediction
### K-neighbors

In [73]:
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

In [74]:
knn = KNeighborsClassifier()

In [75]:
knn.fit(df1, df3)

KNeighborsClassifier()

In [76]:
y_pred = knn.predict(df2)

In [77]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0], dtype=int64)

In [78]:
target_data = pd.DataFrame(y_pred)

In [79]:
target_data.columns = ['target']

In [82]:
submission = pd.concat([df_xt['id'],target_data],axis=1)

In [83]:
submission.head()

    id  target
0  266       0
1  267       0
2  268       0
3  269       0
4  270       0

In [84]:
submission.to_csv("C:/Users/김서윤/Documents/2020 2학기 강의/응용머신러닝(주영준)/Inclass competition/submission/submission(minmax+kNeighbors).csv",header=True,index=False)