In [27]:
import numpy as np
import pandas as pd
from io import StringIO
import warnings
warnings.filterwarnings('ignore')

In [28]:
df_x1 = pd.read_csv('C:/Users/김서윤/Documents/2020 2학기 강의/응용머신러닝(주영준)/Inclass competition/dsc3011/X_train.csv')

In [29]:
df_y1 = pd.read_csv('C:/Users/김서윤/Documents/2020 2학기 강의/응용머신러닝(주영준)/Inclass competition/dsc3011/Y_train.csv')

In [30]:
#train set와 test set이 따로 주어져서 partitioning도 불필요!
df_xtest = pd.read_csv('C:/Users/김서윤/Documents/2020 2학기 강의/응용머신러닝(주영준)/Inclass competition/dsc3011/x_test.csv')

In [31]:
df = pd.merge(df_x1, df_y1, on="id")

In [32]:
df.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,1,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,2,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,3,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,4,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,5,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## scaling
### standardization

In [33]:
from sklearn.preprocessing import StandardScaler

In [34]:
scaler = StandardScaler()

In [35]:
df1 = df

In [36]:
df1[['age','trestbps','chol','thalach']] = scaler.fit_transform(df1[['age','trestbps','chol','thalach']])

In [37]:
df2 = df_xtest

In [38]:
df2[['age','trestbps','chol','thalach']] = scaler.fit_transform(df2[['age','trestbps','chol','thalach']])

In [39]:
df3 = df_y1['target']

In [40]:
df1.head()
df2.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,266,1.206065,1,0,-1.191596,-0.395899,0,0,-0.487449,1,0.1,2,1,2
1,267,0.029043,0,0,3.019242,2.014830,0,2,-1.126427,1,3.4,1,0,2
2,268,-0.612969,1,2,-0.820052,-1.716559,0,0,-0.743040,0,0.8,2,3,2
3,269,-0.077959,1,0,-0.572356,1.155353,0,0,-1.169025,1,3.2,1,2,2
4,270,0.136045,1,0,-0.076963,1.092465,1,0,-1.722806,1,1.6,0,0,3

In [41]:
x_train = np.array(pd.DataFrame(df1, columns=['id','age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']))

In [42]:
y_train = np.array(pd.DataFrame(df1, columns=['target']))

## model training & prediction
### Naive bayes

In [44]:
from sklearn.naive_bayes import GaussianNB

In [45]:
gnb = GaussianNB()

In [46]:
gnb.fit(x_train, y_train)

GaussianNB()

In [47]:
y_pred = gnb.predict(df2)

In [48]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 0], dtype=int64)

In [49]:
target_data = pd.DataFrame(y_pred)

In [50]:
target_data.columns = ['target']

In [52]:
submission = pd.concat([df_xtest['id'],target_data],axis=1)

In [53]:
submission.head()

    id  target
0  266       0
1  267       0
2  268       0
3  269       0
4  270       0

In [54]:
submission.to_csv("C:/Users/김서윤/Documents/2020 2학기 강의/응용머신러닝(주영준)/Inclass competition/submission/submission(standardization+NaiveBayes).csv",header=True,index=False)