In [1]:
import numpy as np
import pandas as pd
from io import StringIO
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_x1 = pd.read_csv('C:/Users/김서윤/Documents/2020 2학기 강의/응용머신러닝(주영준)/Inclass competition/dsc3011/X_train.csv')

In [3]:
df_y1 = pd.read_csv('C:/Users/김서윤/Documents/2020 2학기 강의/응용머신러닝(주영준)/Inclass competition/dsc3011/Y_train.csv')

In [4]:
#train set와 test set이 따로 주어져서 partitioning도 불필요!
df_xtest = pd.read_csv('C:/Users/김서윤/Documents/2020 2학기 강의/응용머신러닝(주영준)/Inclass competition/dsc3011/x_test.csv')

In [5]:
df = pd.merge(df_x1, df_y1, on="id")

In [6]:
df.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,1,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,2,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,3,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,4,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,5,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## scaling
### normalization

In [22]:
from sklearn.preprocessing import normalize

In [24]:
df1 = df

In [29]:
df1[['age','trestbps','chol','thalach']] = normalize(df1[['age','trestbps','chol','thalach']], norm='l2')

In [30]:
df2 = df_xtest

In [31]:
df2[['age','trestbps','chol','thalach']] = normalize(df2[['age','trestbps','chol','thalach']], norm='l2')

In [32]:
df3 = df_y1['target']

In [33]:
df1.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,1,0.197471,1,3,0.454496,0.730329,1,0,0.470169,0,2.3,0,0,1,1
1,2,0.108759,1,2,0.382125,0.734856,0,1,0.549672,0,3.5,0,0,2,1
2,3,0.136833,0,1,0.433862,0.680829,0,0,0.574032,0,1.4,2,0,2,1
3,4,0.172889,1,1,0.370476,0.728603,0,1,0.549540,0,0.8,2,0,2,1
4,5,0.138435,0,0,0.291442,0.859755,0,1,0.395876,1,0.6,2,0,2,1

In [34]:
df2.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,266,0.234420,1,0,0.397804,0.752986,0,0,0.468840,1,0.1,2,1,2
1,267,0.139232,0,0,0.455670,0.827800,0,2,0.296185,1,3.4,1,0,2
2,268,0.210082,1,2,0.505912,0.638820,0,0,0.540211,0,0.8,2,3,2
3,269,0.160603,1,0,0.362845,0.850603,0,0,0.345000,1,3.2,1,2,2
4,270,0.168286,1,0,0.390664,0.850444,1,0,0.309526,1,1.6,0,0,3

In [35]:
x_train = np.array(pd.DataFrame(df1, columns=['id','age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']))

In [36]:
y_train = np.array(pd.DataFrame(df1, columns=['target']))

## model training & prediction
### Decision trees

In [37]:
from sklearn.tree import DecisionTreeClassifier

In [39]:
dt = DecisionTreeClassifier()

In [40]:
dt.fit(x_train, y_train)

DecisionTreeClassifier()

In [41]:
y_pred = dt.predict(df2)

In [42]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0], dtype=int64)

In [43]:
target_data = pd.DataFrame(y_pred)

In [44]:
target_data.columns = ['target']

In [45]:
submission = pd.concat([df_xtest['id'],target_data],axis=1)

In [46]:
submission.head()

    id  target
0  266       0
1  267       0
2  268       0
3  269       0
4  270       0

In [47]:
submission.to_csv("C:/Users/김서윤/Documents/2020 2학기 강의/응용머신러닝(주영준)/Inclass competition/submission/submission(normalization+DecisionTrees).csv",header=True,index=False)