In [175]:
import numpy as np
import pandas as pd
from io import StringIO
import warnings
warnings.filterwarnings('ignore')

In [176]:
df_x1 = pd.read_csv('C:/Users/김서윤/Documents/2020 2학기 강의/응용머신러닝(주영준)/Inclass competition/dsc3011/X_train.csv')

In [177]:
df_y1 = pd.read_csv('C:/Users/김서윤/Documents/2020 2학기 강의/응용머신러닝(주영준)/Inclass competition/dsc3011/Y_train.csv')

In [178]:
#train set와 test set이 따로 주어져서 partitioning도 불필요!
df_xtest = pd.read_csv('C:/Users/김서윤/Documents/2020 2학기 강의/응용머신러닝(주영준)/Inclass competition/dsc3011/x_test.csv')

In [179]:
df = pd.merge(df_x1, df_y1, on="id")

In [180]:
df.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,1,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,2,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,3,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,4,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,5,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## scaling
### min-max scaling

In [181]:
from sklearn.preprocessing import MinMaxScaler, minmax_scale

In [182]:
mms = MinMaxScaler()

In [183]:
df1 = df_x1

In [184]:
df1[['age','trestbps','chol','thalach','ca','thal']] = mms.fit_transform(df1[['age','trestbps','chol','thalach','ca','thal']])

In [185]:
df2 = df_xtest

In [186]:
df2[['age','trestbps','chol','thalach','ca','thal']] = mms.fit_transform(df2[['age','trestbps','chol','thalach','ca','thal']])

In [187]:
df3 = df_y1['target']

In [188]:
df1.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,1,0.708333,1,3,0.481132,0.244292,1,0,0.543860,0,2.3,0,0.0,0.333333
1,2,0.166667,1,2,0.339623,0.283105,0,1,0.868421,0,3.5,0,0.0,0.666667
2,3,0.250000,0,1,0.339623,0.178082,0,0,0.736842,0,1.4,2,0.0,0.666667
3,4,0.562500,1,1,0.245283,0.251142,0,1,0.789474,0,0.8,2,0.0,0.666667
4,5,0.583333,0,0,0.245283,0.520548,0,1,0.657895,1,0.6,2,0.0,0.666667

## model training & prediction
### SVC

In [191]:
from sklearn.svm import SVC

In [192]:
svc = SVC(kernel="linear")

In [194]:
svc.fit(df1,df3)

SVC(kernel='linear')

In [195]:
prediction = svc.predict(df2)

In [196]:
prediction

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0], dtype=int64)

In [198]:
target_data = pd.DataFrame(prediction)

In [199]:
target_data.columns = ['target']

In [201]:
submission = pd.concat([df_xtest['id'],target_data],axis=1)

In [202]:
submission.to_csv("C:/Users/김서윤/Documents/2020 2학기 강의/응용머신러닝(주영준)/Inclass competition/submission/submission(minmax+SVC).csv",header=True,index=False)